.App {
  text-align: center;
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-top: 20px;
}
.body {
  display: flex;
  justify-content: center;
}
.container-1 {
  width: 1510px;
  height: 210px;
  align-content: center;
  background: #efefef;
}
.text-1 {
  margin-top: 38px;
  margin-bottom: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.text-2 {
  width: 972px;
  text-align: center;
  margin: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.container-text-2 {
  width: 972px;
}
.container-2 {
  display: flex;
  justify-content: space-between;
  width: 1510px;
  margin: auto;
}
.container-html {
}
.html-logo {
  width: 128px;
  height: 128px;
}
